{% extends 'home/base.html' %}
{% load static %}
{% block title %}About Us {% endblock title %}

{% block about_us %}
<h1>Welcome to Boiwala - Your Literary Haven</h1>

<h5>At Boiwala, we believe in the transformative power of books. Founded by two passionate bibliophiles, Jawad Bin Jalil and Mashiur Rahman, Boiwala is more than just an online bookstore; it's a sanctuary for book lovers and a celebration of the written word.</h5>

<h2>Our Story</h2>

<h5>The journey of Boiwala began with a shared dream — to create a space where literature could thrive and readers could explore the vast realms of storytelling. Jawad and Mashiur, the co-founders, united by their love for books, embarked on a mission to bring the best literary treasures to your fingertips.</h5>
{% endblock about_us %}